---
layout: institution
status: publish
permalink: posts/students/<%= @base_name%>
title: <%= @student_name%>
categories: [student, <%= @program_name%>, <%= @research_area%>]
research: <%= @research_area%>
other: <%= @other_research_areas%>
program: <%= @program_name%>
website: <%= @personal_website%>
twitter:  <%= @twitter_handle%>
image: <%= @image%>
---
<header class='post-header student-info'>
     <h1><%= @student_name%></h1>
     <h2>Program: <%= @program_name%></h2>
     <h3>Research Focus:{{page.research | remove:'Other'}} {%if page.other%} {{page.other}} {%endif%} </h3>
  </header>

  <% unless @personal_website.nil? || @twitter_handle.nil? %>
  <div class='student-contact'>
    <img src="/images/{{page.image}}">
    <h3>{% if page.website%}URL: <a href=" {{page.website}}">{{page.website}}</a> {%endif%}</h3>
    <h3>{% if page.twitter%}Twitter: <a href="http://www.twitter.com/{{page.twitter}}"> @{{page.twitter}}</a> {%endif%}</h3>
  </div>

<% end %>
